In [1]:
#definisi function
def functiontest ():
    print("function test")
    print("sasa")
print("out of scope")
functiontest()

out of scope
function test
sasa

In [2]:
#type data number: int, float
myInt = 1
myFloat = 1.0

print(myInt)
print(myFloat + myInt)

1
2.0

In [3]:
#cek tipe data
type(myFloat)
type(myInt)
print(type(myInt))

<class 'int'>

In [4]:
#string
myString = "this is my string"
print(myInt * myString)

this is my string

In [5]:
#boolean
myBool = False

myCompare = myInt == myFloat

print(type(myBool))
print(type(myCompare))

<class 'bool'>
<class 'bool'>

In [6]:
a = b = c = d = 6
print(a,b,c,d)

6 6 6 6

In [7]:
a,b = [1, 2]
print(a, b)

1 2

In [8]:
#Penamaan variabel, tidak berawalan angkal
myVariable = "ini my variable"

#kesepakatan untuk penamaan variable 
#harus nunjukin maksudnya apa, tidak boleh a b i j

#ada 3 cara misahin suku kata
"""
1. myChildAge = "camel case"
2. MyChildAge = "pascal case"
3. my_child_age = "snake case"
"""

'\n1. myChildAge = "camel case"\n2. MyChildAge = "pascal case"\n3. my_child_age = "snake case"\n'

In [9]:
#operator
myFirstNumber = 10
mySecondNumber = 3

print(myFirstNumber+ mySecondNumber)
print(myFirstNumber- mySecondNumber)
print(myFirstNumber* mySecondNumber)
print(myFirstNumber/ mySecondNumber)
print(myFirstNumber % mySecondNumber)
print(myFirstNumber ** mySecondNumber)

13
7
30
3.3333333333333335
1
1000

In [10]:
hello = "hello"
name = "name"
name2 = "name"

print(hello + name)

helloname

In [11]:
print(hello == name)
print(name2 == name)
print(name2 > name)
print(name2 >= name)
print(name2 != name)
print(name2 <= name)
print(name2 < name)

isSameName = name == name2
if(isSameName):
    print("name and name2 have same value")

False
True
False
True
False
True
False
name and name2 have same value

In [12]:
mytestVar = 1

In [13]:
#default method 
# ->>> mySecondNumber.

In [14]:
#default function
str(mytestVar)

'1'

In [15]:
myTestString = "nama saya budi"

In [16]:
#method bawaan dr string
myTestString.capitalize()

'Nama saya budi'

In [17]:
myTestString

'nama saya budi'

In [18]:
myModifyStr = myTestString.split(' ')
print(myModifyStr)
print(myTestString)

['nama', 'saya', 'budi']
nama saya budi

In [19]:
myName = input("enter name:")
print("my name is ", myName)

enter name:
my name is

In [20]:
#List
myList = [1,2,3,4,5,6,7,8,9]
print(myList)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [21]:
myList2 = [2,1,3,4,5,6,7,8,9,10]
print(myList == myList2)

False

In [22]:
print(myList2[0])

2

In [23]:
print(myList2[-1])

10

In [24]:
myList2 = [1, "dua", 3, "empat"]
myList2 = [1,[2],[3, 4]]

In [25]:
myList2[1]

[2]

In [26]:
my3List = myList2[2]
my3List[1]

4

In [27]:
print(myList2 + my3List)

[1, [2], [3, 4], 3, 4]

In [28]:
print(myList2 * 2)

[1, [2], [3, 4], 1, [2], [3, 4]]

In [29]:
print(my3List.sort())

None

In [30]:
myUpsideList = [10, 9, 8]
myUpsideList.sort()
myUpsideList.count(9)

1

In [31]:
len(myUpsideList)

3

In [32]:
print(min(myUpsideList))
print(max(myUpsideList))
print(myUpsideList)

8
10
[8, 9, 10]

In [33]:
#manipulate list value
myUpsideList = [10, 9, 8]
myUpsideList.append(6)
print(myUpsideList)

[10, 9, 8, 6]

In [34]:
myUpsideList[3]=7

In [35]:
myUpsideList

[10, 9, 8, 7]

In [36]:
myList = [10, 9, 8, 6, 7]
existVal = myList[3]
myList[3] = myList[4]
myList[4] = existVal

myList

[10, 9, 8, 7, 6]

In [37]:
myList[1:4] = [2, 3, 4, 5]
myList

[10, 2, 3, 4, 5, 6]

In [38]:
#Tuple -> dia imutable
myTuple = (1,3,4,5,6)
myTuple

(1, 3, 4, 5, 6)

In [39]:
myTuple.count(4)

1

In [40]:
myTuple.count(3)

1

In [41]:
#dictionary atau map -> based on key and value
aboutMe = {"name":"nan", "age":21, "hobbies":["sing", "code"]}
aboutMe

{'name': 'nan', 'age': 21, 'hobbies': ['sing', 'code']}

In [42]:
aboutMe[name]

'nan'

In [43]:
aboutMe["ocupancie"] = "TL"

In [44]:
aboutMe

{'name': 'nan', 'age': 21, 'hobbies': ['sing', 'code'], 'ocupancie': 'TL'}

In [45]:
#ambil hobbie
aboutMe["hobbies"][1]

'code'

In [46]:
aboutMe["hobbies"][0] = "is"
print(aboutMe)

{'name': 'nan', 'age': 21, 'hobbies': ['is', 'code'], 'ocupancie': 'TL'}